---
# layout: home
layout: page
---

<table>
  <tr>
    <td width="50%" valign="top">
      <h3>Student's circle (BMC)</h3>
      <p>
        The Boise Math Students' Circle is for Treasure Valley young people with some experience with algebra who want to experience creative mathematics.
      </p>
      <ul>
        <li><a href="bmc-schedule">2019-20 BMC calendar</a></li>
        <li><a href="bmc-archive">Past BMC sessions</a></li>
        <li><a href="bmc-about">About the BMC</a></li>
        <li><a href="bmc-photos">Photos from the BMC</a></li>
        <li><a href="https://groups.google.com/forum/#!forum/boisemathcircle/join">Sign up for announcements</a> (<a href="https://groups.google.com/forum/#!forum/boisemathcircle">read past announcements</a>)</li>
      </ul>
    </td>
    <td width="50%" valign="top">
      <h3>Teacher's circle (BMTC)</h3>
      <p>
        The Boise Math Teachers' Circle is a community for Treasure Valley K–12 math educators.
      </p>
      <ul>
        <li>Check out the <a href="bmtc1819">current BMTC program</a></li>
        <li><a href="bmtc-archive">Some past BMTC sessions</a></li>
        <li>You can also see our past programs:<br/>
          <a href="bmtc1718">BMTC 2017-2018</a><br/>
          <a href="bmtc1617">BMTC 2016–2017</a><br/>
          <a href="bmtc1516">BMTC 2015–2016</a>
        <!--
        <li><a href="bmtc-schedule">Upcoming BMTC session calendar</a></li>
        <li><a href="bmtc-recent">Past BMTC sessions</a></li>
        <li><a href="bmtc-about">About the BMTC</a></li>
        <li><a href="bmtc-faculty">BMTC faculty biographies</a></li>
        <li><a href="bmtc-whatis">What is a math teachers' circle?</a></li>
        -->
        </li>
      </ul>
    </td>
  </tr>
</table>

<h2>Recent sessions</h2>

{% for post in site.posts limit: 6 %}
  <div style="margin-top: 15px">
    <a href="{{ post.url }}">
      {% assign post-basename = post.path | split: "/" | last | remove: ".md" | remove: ".html" %}
      {% for img in site.static_files %}
        {% if img.basename == post-basename %}
          {% assign img-path = img.path %}
          {% break %}
        {% endif %}
      {% endfor %}
      {% if img-path %}
        <img src="{{ img-path | relative_url }}" style="width:150px; float:left;" />
        {% assign img-path = false %}
      {% else %}
        <img src={{ "/assets/logo.png" | relative_url }} style="width:150px; float:left;" />
      {% endif %}
      <div class="post-list-title" style="margin-left:160px">{{- post.title -}}</div>
    </a>
    <div style="margin-left:160px">
      {{ post.excerpt | remove: '<p>' | remove: '</p>' | strip }}<br/>
      <span class="post-meta"><span class="category_name">{{ post.categories }}</span> item dated {{ post.date | date: "%b %-d, %Y" }}</span>
    </div>
  </div>
  <div style="clear:both;"></div>
{% endfor %}
